.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* margin: 30px; */
    min-height: 30rem;
    background-color: rgb(183, 197, 249);
    width: 370px;
  }
  form {
    max-width: 370px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75);
  
  }
  
  
  
  button {
    margin-top: 5px;
    
    padding: 5px;
    color: white;
    margin-left: 50px;
    height: 50px;
    background: blue;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0px 3px 24px -8px rgba(0, 0, 0, 0.75); 
  
  }
  
  .render-chat {
    width:350px;
    border-radius: 5px;
    height: 400px;
    padding: 5px;
    margin-bottom: 15px;
    box-shadow: 0px 3px 5px -8px rgba(0, 0, 0, 0.75);
    overflow:scroll;
    background-color: rgb(183, 188, 188);
  }
  
  h3 {
    font-family: cursive;
    color: #2f72da;
  }
  h4 {
  
   
    font-family: cursive;
    
    color: #30a320;
  
  }
  
  span {
  
    color: black;
  }  
.comming {
    float:right;
    color: #11752f;
    
    
}